<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Mood Tracker</title>
</head>
<body>
<h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
<p id="currentDateTime">The current date and time is: </p>

<!-- Mood Logging Form -->
<form id="moodForm" th:action="@{/api/moods}" method="post">
    <label for="mood">Log mood:</label><br>
    <textarea id="mood" name="moodEntry" rows="4" cols="50"></textarea><br>

    <label for="moodRating">Rate your mood (1-10):</label><br>
    <select id="moodRating" name="moodRating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select><br>

    <!-- Hidden input field for current date and time -->
    <input type="hidden" id="clientCurrentDateTime" name="clientCurrentDateTime" /><br>
    <input type="submit" value="Submit"/>
</form>

<!-- Logout Form -->
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
<script src="/js/moodtracker.js"></script>
</html>
